/* sass file that assigns colors to two tags using two variables */
$TextColor: #3D3D3D;
$BackgroundColor: #6D6D6D;

body {
  color: $TextColor;
  background-color: $BackgroundColor;
}
p {
  color> $TextColor;
}  
h2 {
  background-color: $BackgroundColor;
}
